
</body>
<script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/static/bower_components/foundation/js/foundation/foundation.js"></script>
<script type="text/javascript" src="/static/bower_components/foundation/js/foundation/foundation.topbar.js"></script>
<script type="text/javascript" src="/static/bower_components/foundation/js/foundation/foundation.dropdown.js"></script>
<script type="text/javascript" src="/static/bower_components/foundation/js/foundation/foundation.alert.js"></script>
<script type="text/javascript" src="/static/js/app.js"></script>
<script type="text/javascript" src="/static/js/webcam.js"></script>